# Django Configurations
SECRET_KEY=your_django_secret_key_here
DEBUG=True

# Database Configurations
DB_NAME=TicketMovie
DB_USER=root
DB_PASSWORD=your_mysql_password_here
DB_HOST=localhost
DB_PORT=3306

# VNPay Configurations
VNPAY_TMN_CODE=your_vnpay_tmn_code_here
VNPAY_HASH_SECRET=your_vnpay_hash_secret_here
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/payment/vnpay-return

# Gemini API Configurations
GEMINI_API_KEY=your_gemini_api_key_here
